<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>noteKeeper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron" style="background:lightblue !important">
    <h1 class="h1">no(d)eKeeper</h1>
        <small class="text-muted text-white">A simple Node exercise</small>
    </div>
</div>
    <% if (noteArray) { %>
    <ul class="list-group">
        <% for(let note in noteArray) { %>
        <li class="list-group-item text-danger">X <%=note = noteArray[note] %> </li>
        <% } %>
    </ul>
    <% } %>

    <form class="form-group" action="/submitted" method="GET">
         Add a note:<br>
        <input type="text" name="note" value="note"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>